@import "tailwindcss";

@layer base {
  body {
    max-width: 1920px;
    min-height: 100dvh;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
  }

  #root {
    flex-grow: 1;
  }
}

@theme {
  --color-primary: #0027D5;
  --color-text: #4B4B4B;
  --color-soft-mist: #FBFBFB;
}